table tr td {
    height: 70px;
}

form ul li {
    margin-top: 15px;
    margin-left: 0;
    padding: 15px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    list-style-type: none;
}

form ul {
    padding: 0;
    margin: 0;
}